.progress-wrapper{
    overflow: hidden;
    position: relative;
    border: 1px solid black;
    border-radius: 50px;
    width: 500px;
    height: 30px;
}
.progress-bar{
    height: 100%;
    transition: width 1s linear;
}
.progress-text{
    position: absolute;
    color: black;
    top: 15%;
    left: 40%;
}